body {
  font: 400 15px Tahoma, sans-serif;
  line-height: 1.8;
  color: #818181;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "header header" "aside main" "footer footer";
  text-align:justify;
}

header{grid-area: header;}
aside{grid-area: aside;}
footer{grid-area: footer;}
main{grid-area: main;}

h1{
  background-color:rgb(13, 102, 236); 
  color: #fff;
  text-transform: uppercase;
  border: PowderBlue 10px double;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 100px 25px;
  text-align: center;   
  font-size: 300%;
  letter-spacing: 5px;
}

h2, h3, h4, h5, h6{
  font-family: Arial;
  font-weight: 900;
  font-size: large;
  color: black;
  font-size: medium;
}

h2,h4{
  font-style: italic;
  font-weight: 600;
  text-align: center;
  background-color: rgb(13, 64, 204);
  color: white ;
}

h2::first-letter,h4::first-letter{
  font-size: x-large;
  color: grey;
}

h3{
  text-decoration: underline;
}

table {
  border: 1px solid white; 
	border-collapse: collapse;
  margin: 15px 0;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 10px;
}

th { 
  background: blue;
  color: white;
  font-weight: normal; 
}

table tr td{
  background-color: rgb(208, 253, 253);
}

table tr td::first-letter{
  background-color: blue;
}

nav ul li {
  list-style-type: circle;
}

li a:hover{
  cursor: pointer;
}

ul {
  list-style-type: decimal;
}

ul li ul li {
  list-style-type: disc;
}

p{
  margin-left: 25px;
  text-indent: -15px;
  line-height: 150%;
}

p::first-letter{
  font-size: larger;
}

nav {
  background-color: rgb(208, 253, 253);
}

footer{
  background-color: rgb(208, 253, 253);
  text-align: center;
}

main{
  margin: 20px;
}

a:link {
  color: rgb(4, 0, 255);
}

a:visited {
  color: rgb(114, 26, 214);
}

a:hover {
  background-color: blue;
  color: white;
}